@media screen and (max-width: 600px) {
    #inp {
	flex-direction: column;
    }
    #general-actions {
	flex-direction: initial;
	justify-content: space-between;
	margin: auto 0 auto 0;
    }
    #general-actions button {
	width: 30%;
    }
}
